trigger:
- main

pool:
  name: test-ec2
  vmImage: ubuntu-latest

variables:
  - group: ec2-deploy-secrets
  APP_NAME: test-app 
  
stages:
- stage: Deploy
  jobs:
  - job: DeployToEC2
    steps:
    - checkout: none
    - script: |
        SHORT_SHA=$(echo $(Build.SourceVersion) | cut -c1-7)
        echo "##vso[task.setvariable variable=IMAGE_TAG]$SHORT_SHA"
      displayName: Set image tag

    - script: |
        mkdir -p ~/.ssh
        echo -e "$EC2_SSH_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts
      displayName: "Prepare SSH"
