name: Build and Push Docker

# Запуск workflow при пуше в main
on:
  push:
    branches: [ main ]

# Важно для GHCR: дать права на пакеты
permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: allexf
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/allexf/myapp:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/allexf/myapp:latest
