name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  run-scripts:
    runs-on: ubuntu-latest   # бесплатно

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Make scripts executable
        run: chmod +x scripts/*.sh

      - name: Run custom script
        run: ./scripts/build.sh

